@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

a.active hr {
    display: block;
}

* {
    font-family: "Outfit";
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}
@media (max-width:640px) {
    a.active {
        background-color: black;
        color: white;
    }
}
/* Hero Section */
@layer utilities {
    .animate-gradient-text {
        background-size: 200% 200%;
        animation: gradientMove 6s ease infinite;
    }

    @keyframes gradientMove {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }

    .animate-hero-entrance {
        animation: fadeSlideIn 1.2s ease-out forwards;
    }

    @keyframes fadeSlideIn {
        0% {
        opacity: 0;
        transform: translateY(30px);
        }
        100% {
        opacity: 1;
        transform: translateY(0);
        }
    }

    .animate-fade-in {
        animation: fadeIn 2s ease-in-out forwards;
    }

    @keyframes fadeIn {
        from {
        opacity: 0;
        }
        to {
        opacity: 1;
        }
    }
}
/* Button In Hero */
@keyframes shine-alternate {
    0% {
    left: -75%;
    }
    100% {
    left: 125%;
    }
}

.animate-shine-alternate {
    animation: shine-alternate 2.5s ease-in-out infinite alternate;
}



